body {
  background-color: #858080;
  height: 100vh;
}

.jobs-nav {
  background-color: darkgray;
  padding: 0.5rem;
}

.jobs-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.view {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.mat {
  padding: 0.5rem;
  background-color: #cf9c7f;
  border: 2px solid #312f2f;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.mat-name {
  width: 8rem;
}

.separator {
  height: 100%;
  width: 2px;
  background-color: black;
}

.mat-param {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mat-param p {
  margin: 0;
}

.mat-param input {
  padding-left: 10px;
  width: 60px;
  border: 1px solid black;
  border-radius: 15px;
}

.mat-param input:disabled {
  color: black;
  background-color: rgb(189, 186, 186);
}

.mat-icon {
  height: 4rem;
  aspect-ratio: 1;
}
